<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Planet Recipe iPad.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9C75B6BD990AD49B07ACE3E0CAF463FB6B086A4D</string>
				<key>dateExpires</key>
				<string>8/29/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7K5FFMUUP4.com.zanysocksapps.PlanetRecipeIpad</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud..com.zanysocksapps.PRPhoneS</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7K5FFMUUP4</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>7K5FFMUUP4.com.zanysocksapps.Planet-Recipe-iPad</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Planet Recipe iPad.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>95a26db6-68b8-4c77-9df0-b84f9730193e</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.zanysocksapps.PlanetRecipeIpad</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7K5FFMUUP4</string>
				<key>name</key>
				<string>steve silesky</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
